<section {{bind-attr class=":categories hasActive:open-category"}}>
  <h1>Products</h1>
  <ul class="categories">
  {{#each}}
    <li {{action 'toggleOpen' this}} {{bind-attr class=':category isLoading:loading isOpen:active'}}>
      <img {{bind-attr src=imageUrl}} height="100" width="100">
    </li>
  {{/each}}
  </ul>
  {{outlet}}
</section>
